<script type="text/javascript">
    $(document).ready(function() {
        $("#new_user_session").validate();
    });
</script>

<div class="container">
  <div class="main-container">
    <div class="row">
      <div class="span12">
        <%= form_for @user_session do |form| %>
            <fieldset>
              <legend> Login To Otuts</legend>
              <div class="clearfix">
                <label for="xlInput">Username <span style="color: red">*</span> </label>

                <div class="input">
                  <%= form.text_field :username, :class => "xlarge required", :placeholder => 'Enter username' %>
                </div>
              </div>
              <div class="clearfix">
                <label for="xlInput">Passsword <span style="color: red">*</span> </label>

                <div class="input">
                  <%= form.password_field :password, :class => "xlarge required", :placeholder => 'Enter password' %>
                </div>
              </div>
              <div class="actions">
                <%= form.submit "Submit", :class => 'btn primary' %>
                <button class="btn" type="reset">Cancel</button>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>